* {
    padding: 0;
    margin: 0;
    outline: none;
}

.home-container {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .home {
        border: 1px solid #fff;
        border-radius: 10px;
        width: 80%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .lateral {
            flex: 1.5;
            background-color: #3e3c61;

            .navbar {
                display: flex;
                align-items: center;
                background-color: #32304e;
                color: #fff;
                height: 40px;
                padding: 10px 10px 10px 14px;
                justify-content: space-between;

                .titulo {
                    font-weight: bold;
                    font-size: 1.2rem;
                }

                .usuario {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        background-color: #a7bcff;
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        background-color: #3e3c61;
                        color: #fff;
                        border: none;
                        cursor: pointer;
                        padding: 4px 8px;
                    }
                }
            }

            .busqueda {
                border-bottom: 1px solid rgba(211, 211, 211, 0.432);

                .form-busqueda {
                    padding: 10px;

                    input {
                        outline: none;
                        background-color: transparent;
                        border: none;
                        color: #fff;
                        font-size: 1rem;
                        width: 100%;

                        &::placeholder {
                            color: lightgray;
                        }
                    }
                }

            }

            .chat-usuario {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: #32304e;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .chat-info {

                    span {
                        font-weight: bold;
                    }

                    p {
                        font-size: .9rem;
                        color: lightgray;
                    }
                }
            }
        }

        .chat {
            flex: 3;

            .chat-info {
                height: 40px;
                background-color: #484672;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                color: lightgray;

                .chat-iconos {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        height: 24px;
                        width: 24px;
                        cursor: pointer;
                    }
                }
            }

            .mensajes {
                background-color: rgb(241, 241, 241);
                padding: 10px;
                height: calc(100% - 150px);
                overflow-y: scroll;

                .mensaje {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .mensaje-info {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        color: gray;
                        font-weight: 300;
                        font-size: 0.9rem;
                        
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .mensaje-contenido {
                        display: flex;
                        max-width: 80%;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: #fff;
                            padding: 10px 20px;
                            border-radius: 0 10px 10px 10px;
                            width: max-content;
                        }

                        img {
                            width: 50%;
                        }
                    }

                    &.propietario {
                        flex-direction: row-reverse;

                        .mensaje-contenido {
                            align-items: flex-end;

                            p {
                                background-color: #7a99ff;
                                color: #fff;
                                border-radius: 10px 0 10px 10px;
                            }
                        }
                    }
                }
            }

            .input {
                height: 50px;
                background-color: #fff;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #3e3c61;
                    font-size: 1rem;

                    &::placeholder {
                        color: lightgray;
                    }
                }

                input[type="file"] {
                    display: none;
                }

                .enviar {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    label {
                        display: flex;
                        align-items: center;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                    }

                    button {
                        border: none;
                        padding: 10px 15px;
                        color: #fff;
                        background-color: #7a99ff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}